<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0" [ngClass]="fuseConfig.layout.toolbar.background">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="text-truncate title dialog-title">{{dialogTitle}}</span>
            <button id="button-close" mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">

        <form [formGroup]="grupoForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input id="nome"
                           name="nome"
                           formControlName="nome"
                           placeholder="Nome"
                           matInput
                           minlength="5"
                           maxlength="150"
                           required
                           #nome>
                    <mat-error *ngIf="grupoFormErrors.nome?.minlength">
                        O campo nome deve conter no mínimo 5 caracteres.
                    </mat-error>
                    <mat-error *ngIf="grupoFormErrors.nome?.maxlength">
                        O campo nome deve conter no máximo 150 caracteres.
                    </mat-error>
                    <mat-error *ngIf="grupoFormErrors.nome?.validateIfAlreadyExists">
                        Já existe órgão emissor cadastrado com este nome.
                    </mat-error>
                </mat-form-field>
            </div>

           

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button id="button-delete"
                *ngIf="action ==='edit'"
                mat-icon-button
                (click)="dialogRef.close(['delete',grupoForm])"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

        <button id="button-save"
                *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(grupoForm)"
                class="save-button mat-accent"
                [disabled]="grupoForm.invalid"
                aria-label="SALVAR">
            SALVAR
        </button>

        <button id="button-confirm-update"
                *ngIf="action ==='edit'"
                mat-raised-button
                (click)="confirmUpdate()"
                class="save-button mat-accent"
                [disabled]="grupoForm.invalid"
                aria-label="SALVAR">
            SALVAR
        </button>

    </div>
</div>
