<div id="grupos" class="header-base page-layout carded fullwidth inner-scroll">

        <div class="top-bg accent"></div>
    
        <div class="center">
    
            <div class="header accent"
                 fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        assignment
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Cadastrar novo grupo
                    </span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Pesquisar anuência">
                    </div>
                </div>
                <!-- / SEARCH -->
            </div>
    
            <div class="content-card">

                <div class="toolbar px-24 py-8">
                
                    <div>
                        <button mat-icon-button
                                [routerLink]="['/grupos/novas']">
                            <mat-icon class="secondary-text">arrow_back</mat-icon>
                        </button>
                    </div>
            
                </div>
                
                <mat-divider></mat-divider>

                <div class="content">
                    <grupoNa-grupos-form [(form)]="grupoForm"></grupoNa-grupos-form>
                </div>
                
                <mat-divider></mat-divider>
                            
                <div class="p-24" fxLayoutAlign="end end">
                    <button mat-raised-button
                            (click)="novaAnuencia()"
                            class="mat-accent add-todo-button"
                            aria-label="SALVAR"
                            [disabled]="grupoForm.invalid">
                        SALVAR
                    </button>
                </div>
    
            </div>

        </div>

</div>
    