    

<mat-table class="grupos-listas"
            #table [dataSource]="dataSource"
            matSort
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>

    <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
        <mat-cell *matCellDef="let grupo">
            <p class="text-truncate">{{grupo.id}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="situacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Situação</mat-header-cell>
        <mat-cell *matCellDef="let grupo" fxHide fxShow.gt-sm>
            <grupoNa-grupos-situacoes [situacao]="grupo.situacao"></grupoNa-grupos-situacoes>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
        <mat-cell *matCellDef="let grupo">
            <p class="text-truncate">{{grupo.data | date:'dd/MM/yyyy'}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credor">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Credor</mat-header-cell>
        <mat-cell *matCellDef="let grupo" fxHide fxShow.gt-md>
            <p class="text-truncate">{{grupo.credor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeDevedor">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Nome Devedor</mat-header-cell>
        <mat-cell *matCellDef="let grupo" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{grupo.nomeDevedor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="documentoDevedor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Documento Devedor</mat-header-cell>
        <mat-cell *matCellDef="let grupo">
            <p class="text-truncate">{{grupo.documentoDevedor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="titulo">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Título</mat-header-cell>
        <mat-cell *matCellDef="let grupo" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{grupo.numeroTitulo}}</p>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

    <mat-row *matRowDef="let grupo; columns: displayedColumns;"
                class="grupo"
                matRipple>
    </mat-row>

</mat-table>

<mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>    
