@import "src/@fuse/scss/fuse";

grupo-list {

    .grupo-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
    }

    mat-cell:last-child {
        padding-right: 0;
        margin-right: 8px;
    }

    .mat-table {

        .mat-header-row {
            position: sticky;
            top: 0;
            background: white;
            z-index: 200;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
                display: flex;
                align-items: center;

                .mat-icon-button {
                    display: contents;
                }


                &.mat-column-detail-button {

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
