<mat-sidenav-container>

    <div id="fuse-main-content">
        <div id="wrapper">
            <div class="content-wrapper">
                <fuse-content></fuse-content>
            </div>
            <!-- NAVBAR: Right -->
            <fuse-sidebar [name]="'navbar'" [align]="'right'"
                          [folded]="fuseSettings.layout.navigationFolded"
                          [lockedOpen]="'gt-md'"
                          class="right-navbar" [ngClass]="fuseSettings.colorClasses.navbar"
                          *ngIf="fuseSettings.layout.navigation === 'right'">
                <fuse-navbar layout="vertical"></fuse-navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Right -->
        </div>
    </div>
</mat-sidenav-container>

