<div class="container">
    <h1>Encontrar de grupos</h1>

    <mat-form-field fxFlex="500">
        <input matInput placeholder="Pesquisar grupos" formControlName="pesquisaMap"
        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </mat-form-field>
    
    <agm-map 
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      [iconUrl]="m.iconUrl"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="latitude + 0.3" [longitude]="longitude" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>




  </div>